<div class="hero-unit">
  <h1>Welcome to ShipStar</h1>
  <br/>
  <p>ShipStar is a place for cruiser liners to come share the coolest uncool things they can think of.</p>
  <br/>
  <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  <div class="row">
    <div class="span3">
      <h2>Music</h2>
      <p>The best music you've never heard of.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span3">
      <h2>Clothing</h2>
      <p>I promise, NONE of your friends will own these clothes.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
   </div>
    <div class="span3">
      <h2>Food</h2>
      <p>No meat or any other animal products here!</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
</div>

<!-- Example row of columns -->
</div>
